<h2>My Vehicles</h2>

<div>
  <label>Vehicle name:
    <input #vehicleName />
  </label>
  <button (click)="add(vehicleName.value); vehicleName.value=''">
    add
  </button>
</div>

<ul class="vehicles">
  <li *ngFor="let vehicle of vehicles">
    <a routerLink="/vehicle/{{vehicle.id}}">
      <span class="badge">{{vehicle.id}}</span>
      {{vehicle.brand}} {{vehicle.model}}
    </a>
    <button class="delete" title="delete vehicle"
      (click)="delete(vehicle)">x</button>
  </li>
</ul>
