<div *ngIf="vehicle">
  <h2>{{vehicle.model | uppercase}} Details</h2>

  <div>
    <label>Model:
      <input [(ngModel)]="vehicle.model" placeholder="Model"/>
    </label>
  </div>

  <div>
    <label>Brand:
      <input [(ngModel)]="vehicle.brand" placeholder="Brand"/>
    </label>
  </div>

  <div>
    <label>Price:
      <input type="number" [(ngModel)]="vehicle.price" placeholder="Price"/>
    </label>
  </div>

  <div>
    <label>Type:
      <select id="type" required [(ngModel)]="vehicle.type">
        <option *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>
    </label>
  </div>

  <div>
    <label>Mileage:
      <input type="number" [(ngModel)]="vehicle.mileage" placeholder="Mileage"/>
    </label>
  </div>

  <button (click)="goBack()">go back</button>
  <button (click)="update()">update</button>
</div>
